<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="project"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="PROJECT"/>
    <stringAttribute key="TALEND_JOB_ID" value="_4wP-0KyjEe28zo_N6PYyvA"/>
    <stringAttribute key="TALEND_JOB_NAME" value="jd_ods_data"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
